.ghx-priority{
width: 16px;
height: 16px;
}
div[id="announcement-banner"] {
    display: none;
}

a[title^="Low"] img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/4.png') !important;
}
a[title^="Medium"] img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/3.png') !important;
}
a[title^="Gating"] img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/2.png') !important;
}
a[title^="Immediate"] img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/1.png') !important;
}

:-webkit-any(span.issue-icons,.priority,span#priority-val) :-webkit-any(img[alt="Low"],img[title^="Low"])
,span[title^="Low"] img{
  width: 0px !important;
  height: 0px !important;
  padding-left: 16px  !important;
  padding-top: 16px  !important;
  background:transparent url('chrome-extension://__MSG_@@extension_id__/img/4.png') no-repeat center !important;
  content: '' !important;
}

:-webkit-any(span.issue-icons,.priority,span#priority-val) :-webkit-any(img[alt^="Medium"],img[title^="Medium"])
,span[title^="Medium"] img{
  width: 0px !important;
  height: 0px !important;
  padding-left: 16px  !important;
  padding-top: 16px  !important;
  background:transparent url('chrome-extension://__MSG_@@extension_id__/img/3.png') no-repeat center !important;
  content: '' !important;
}

:-webkit-any(span.issue-icons,.priority,span#priority-val) :-webkit-any(img[alt="Gating"],img[title^="Gating"])
,span[title^="Gating"] img{
  width: 0px !important;
  height: 0px !important;
  padding-left: 16px  !important;
  padding-top: 16px  !important;
  background:transparent url('chrome-extension://__MSG_@@extension_id__/img/2.png') no-repeat center !important;
  content: '' !important;
}

:-webkit-any(span.issue-icons,.priority,span#priority-val) :-webkit-any(img[alt="Immediate Gating"],img[title^="Immediate Gating"])
,span[title^="Immediate Gating"] img{
  width: 0px !important;
  height: 0px !important;
  padding-left: 16px  !important;
  padding-top: 16px  !important;
  background:transparent url('chrome-extension://__MSG_@@extension_id__/img/1.png') no-repeat center !important;
  content: '' !important;
}
